NEXT_PUBLIC_SITE_URL=https://lamisbeauty.site
NEXT_PUBLIC_API_URL=https://api.lamisbeauty.site

NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_SNAP_PIXEL_ID=

NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_SUPPORT_EMAIL=
